libs
bin
.vs
obj
buildreleases
.idea
Assets/
Dependencies/MonoMod.RuntimeDetour.xml
Dependencies/UnityEngine.ParticleSystemModule.xml
Dependencies/UnityEngine.AnimationModule.xml
/JarlykMods.sln.DotSettings.user
