/0Harmony.dll
/0Harmony.xml
/Unity.Postprocessing.Runtime.dll
/Unity.TextMeshPro.dll
/UnityEngine.AnimationModule.dll
/UnityEngine.AssetBundleModule.dll
/UnityEngine.CoreModule.dll
/UnityEngine.IMGUIModule.dll
/UnityEngine.Networking.dll
/UnityEngine.ParticleSystemModule.dll
/UnityEngine.PhysicsModule.dll
/UnityEngine.UI.dll
/UnityEngine.UIModule.dll
/UnityEngine.dll
/Wwise.dll
/Assembly-CSharp.dll
/BepInEx.xml
/Mono.Cecil.dll
/MonoMod.RuntimeDetour.dll
/MonoMod.Utils.dll
/MonoMod.Utils.xml
/ReinDirectorCardLib.dll
